.pagination-container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.pagination{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.page-change{
    margin: 0 15px;
    cursor:pointer;
}
.skip{
    width: 50px;
}
.prev {
    text-align: center;
}
.next {
    text-align: center;
}